.first-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.title-car {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-family: sans-serif;
}

.brand-car {
  color: rgb(239, 236, 54);
}

.panel-btn {
  padding: 5px;
  font-size: 10px;
  border-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  background: rgb(178, 207, 238);
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  transition: all 0.4s;
}

.panel-btn:hover {
  background: rgb(29, 133, 244);
  color: #f9f7f5;
}

.second-box {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-family: sans-serif;
}

.a-b-btns {
  padding: 3px 6px;
  font-size: 15px;
  border-color: rgb(230, 109, 34);
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.6s;
  background: transparent;
  color: rgb(248, 249, 250);
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
}

.a-b-btns:hover {
  background: rgb(230, 109, 34);
}

.car {
  margin: 10px 0 0 0;
  width: 60px;
  height: 30px;
  display: inline-block;
}

.panel-car {
  border-bottom: dashed 3px rgb(248, 249, 250);
}
