.garage-container-text {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 30px;
  margin-top: 50px;
  font-family: sans-serif;
}

.text-box {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: rgb(248, 250, 248);
}

.count-car {
  font-size: 25px;
  font-weight: 600;
  color: #dbe056;
}

.garage-container-playground {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 30px;
  margin-top: 30px;
  font-family: sans-serif;
}

.page {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
